<ion-view view-title="TravelBruh Registration" has-header="true" class="login">
    <ion-content class="padding has-header">
        <div class="list list-inset">
            <form ng-submit="register()" class="form-signin simple-form">
                <!--             <label class="item item-input item-floating-label">
                <span class="input-label">Username</span>
                <input ng-model="user.name" type="text" placeholder="Username">
            </label> -->
                <label class="item item-input item-floating-label">
                    <span class="input-label">email</span>
                    <input ng-model="user.email" type="Email" placeholder="Email">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input ng-model="user.pass" type="password" placeholder="Password">
                </label>
                <button class="button button-balanced button-full icon ion-log-in" type="submit">
                    Register
                </button>
            </form>
        </div>
        <button ui-sref="login.home" class="button button-light button-full button-clear" type="submit">
            Back
        </button>
    </ion-content>
</ion-view>
